  
<ion-slides pager="false" >

  <ion-slide class="step-one">
    <ion-img src="https://lkyco-2a58b.web.app/assets/img/brand/lky-logo-red.png"></ion-img>
    <h1>LkY Co.</h1>
    <p>
      Creamos conceptos tecnológicos a través del diseño y desarrollo de Webs & Apps.
    </p>
    <ion-button color="primary" (click)="next()">NEXT</ion-button>
  </ion-slide>

  <ion-slide class="step-two">
    <ion-img src="https://lkyco-2a58b.web.app/assets/img/brand/lky-logo-red.png"></ion-img>
    <h1>LkY Co.</h1>
    <p>
      Creamos conceptos tecnológicos a través del diseño y desarrollo de Webs & Apps.
    </p>
    <ion-button color="primary" (click)="next()">NEXT</ion-button>
  </ion-slide>

  <ion-slide class="step-three">
    <ion-img src="https://lkyco-2a58b.web.app/assets/img/brand/lky-logo-red.png"></ion-img>
    <h1>LkY Co.</h1>
    <p>
      Creamos conceptos tecnológicos a través del diseño y desarrollo de Webs & Apps.
    </p>
    <ion-button color="primary" (click)="finish()">FINISH</ion-button>
  </ion-slide>

</ion-slides>
